<div class="page-layout simple fullwidth angular-material-elements" fusePerfectScrollbar>

    <div class="header accent p-24 h-60" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <div class="logo mb-18 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                people
            </mat-icon>
            <span class="logo-text h1 p-8" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Merchants
            </span>
        </div>
        <!-- <button mat-raised-button matTooltip="Add resellers" [routerLink]="['/resellers/addreseller']">
        <mat-icon class="mat-icon ng-tns-c63-105 material-icons" role="img" aria-hidden="true">add</mat-icon>Add Reseller
      </button> -->
    </div>
    <div class="content p-24">
        <div class="customhalf">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" autocomplete="off" placeholder="Search">
            </mat-form-field>
        </div>

        <div class="customhalf1">
            <!-- <form class="" fxLayout="" fxLayoutAlign="" name="form" [formGroup]="form"> -->
            <mat-form-field appearance="" fxFlex="" class="pl-4">
                <mat-select placeholder="Select Category" (selectionChange)="selecategory($event.value)">
                    <mat-option value="SelectCategory">Select Category</mat-option>
                    <mat-option *ngFor="let merchant of merchantcategories" [value]="merchant._id">
                        {{merchant.merchantcatname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- </form> -->
        </div>

        <div class="mat-elevation-z8">
            <div class="cstm-product-table">
            <table [hidden]="!isTableHasData" [hidden]="!isTableHasDataAgain" [class.isMobile]="isMobile" mat-table
                [dataSource]="dataSource">


                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="cstm-th"> Name </th>
                    <td mat-cell *matCellDef="let element">
                        {{ (element.name.length>15)? (element.name | slice:0:15)+'...':(element.name) }}</td>
                </ng-container>


                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef class="cstm-th"> Address </th>
                    <td mat-cell *matCellDef="let element">
                        {{ (element.address.length>30)? (element.address | slice:0:30)+'...':(element.address) }}</td>
                </ng-container>


                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef class="cstm-th"> Email </th>
                    <td mat-cell *matCellDef="let element">
                        {{ (element.email.length>26)? (element.email | slice:0:26)+'...':(element.email) }}</td>
                </ng-container>


                <ng-container matColumnDef="businessname">
                    <th mat-header-cell *matHeaderCellDef class="cstm-th"> Businessname </th>
                    <td mat-cell *matCellDef="let element">
                        {{ (element.businessName.length>15)? (element.businessName | slice:0:15)+'...':(element.businessName) }}

                    </td>
                </ng-container>


                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="cstm-th"> Status </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle (change)="merchantStatusToggle($event,element.merchantId)"
                            checked="{{element.status}}">
                        </mat-slide-toggle>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="cstm-th"> Action </th>
                    <td mat-cell *matCellDef="let element">

                        <a [routerLink]="['/merchant/updatemerchant/',element.merchantId]">
                            <mat-icon _ngcontent-c64="" class="secondary-text s-24 mat-icon material-icons" role="img"
                                aria-hidden="true">edit</mat-icon>
                        </a>
                        <mat-icon _ngcontent-c64="" class="secondary-text s-24 mat-icon material-icons" role="img"
                            aria-hidden="true" style="cursor: pointer;"
                            (click)="deletemerchant(element.merchantId,element.name)">delete_outline
                        </mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
            <div [hidden]="isTableHasData" class="no-data-av">
                No Record Found
              </div>
              <div [hidden]="isTableHasDataAgain" class="no-re-found">
                No Data Available In Table
              </div>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>