<div class="page-layout simple fullwidth angular-material-elements" fusePerfectScrollbar>

    <div class="header accent p-24 h-60" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <div class="logo mb-18 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                timeline
            </mat-icon>
            <span class="logo-text h1 p-8" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Graph
            </span>
        </div>

    </div>
    <div class="content p-24">

        <div class="mat-elevation-z8">


            <div id="dashboard-analytics" class="page-layout blank">

                <div class="main-widget">

                    <div class="position-relative p-24 blue-600" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <span class="h2">Visitors</span>
                            <span class="h5 secondary-text">Unique visitors by month</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                                (click)="widget1SelectedYear = '2016'"
                                [ngClass]="{'blue-700': widget1SelectedYear === '2016'}">
                                2016
                            </div>
                            <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                                (click)="widget1SelectedYear = '2017'"
                                [ngClass]="{'blue-700': widget1SelectedYear === '2017'}">
                                2017
                            </div>
                            <div class="py-8 px-12 border-radius-2 line-height-1 cursor-pointer"
                                (click)="widget1SelectedYear = '2018'"
                                [ngClass]="{'blue-700': widget1SelectedYear === '2018'}">
                                2018
                            </div>
                        </div>
                    </div>

                    <div class="position-relative h-256 pb-16 blue-600">
                        <canvas baseChart [datasets]="widgets.widget1.datasets[widget1SelectedYear]"
                            [labels]="widgets.widget1.labels" [colors]="widgets.widget1.colors"
                            [options]="widgets.widget1.options" [chartType]="widgets.widget1.chartType">
                        </canvas>
                    </div>

                </div>


            </div>


        </div>
    </div>
</div>