<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

  <!-- HEADER -->
  <!-- <div class="header accent p-24 h-60" fxLayout="row" fxLayoutAlign="start center">
          <div class="h1 mt-16">Add Package</div>
  </div> -->

  <div class="header accent p-24 h-60 cstm-addproduct-header" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">

    <div class="logo mb-18 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
      <!-- <mat-icon class="logo-icon" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
              image
          </mat-icon> -->
      <span class="logo-text h1 p-8" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
        Add Product
      </span>
    </div>
    <button mat-raised-button="" color="" class="add-product-back-btn" style="margin-top: 10px;" matTooltip="Back"
      [routerLink]="['/products']">Back</button>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">


    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <ngx-loading [show]="loading"
        [config]="{animationType: ngxLoadingAnimationTypes.circleSwish, primaryColour: primaryColour, backdropBorderRadius: '3px'}"
        [template]="loadingTemplate">
      </ngx-loading>
      <form [formGroup]="productForm" name="productForm" (ngSubmit)="addproduct(parent)">
        <div formArrayName="itemRows" class="cstm-add-product cstm-add-product-scroll cstm-product-table" id="style-3">

          <table class="table table-responsive table-striped cstm-table-store" [class.isMobile]="isMobile">
            <tr>
              <th>Image</th>
              <th>Products name</th>
              <th>Cat name</th>
              <th>Cost price</th>
              <th>Markup</th>
              <th>Selling price</th>
              <th>Date</th>
              <!-- <th>Till type</th> -->
              <th>Stock level</th>
              <th>Reorder level</th>
              <th></th>
            </tr>
            <tr *ngFor="let itemrow of productForm.controls.itemRows.controls; let i=index" [formGroupName]="i">
              <td>
                <a *ngIf="!urls[i]" mat-button color="warn" class="add-file-button" (click)="fileInput1.click()"
                  aria-label="Add file" [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                  Add Image
                </a>
                <input id="cin" hidden name="cin" #fileInput1 type="file" accept=".jpg,.jpeg,.png,.raw,.tiff"
                  (change)="fileChangeEvent($event,i)" placeholder="Upload a file..." multiple />

                <div class="remember-me" class="img-wrap">
                  <span *ngIf="urls[i]" class="close" (click)="close(urls,$event,$index,i)">&times;</span>
                  <img *ngIf="urls[i]" [src]="urls[i]" style="width: 120px;height: auto;padding: 5px;">

                </div>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Product name</mat-label>
                  <input matInput formControlName="productname" autocomplete="off"  pattern="^([^\s])([\sa-zA-Z0-9_\-]*)([^\s])$"
                      autocomplete="off" required>
                  <mat-error *ngIf="itemrow.get('productname').hasError('required')">
                    Please enter product name!
                  </mat-error>
                  <mat-error *ngIf="itemrow.get('productname').hasError('pattern')">
                    Please enter valid product name!
                  </mat-error>
                </mat-form-field>
                
              </td>
              <td>
                
                <mat-form-field appearance="outline"  id="div_{{i}}">
                  <mat-label>Catlist</mat-label>
                 
                  <mat-select #mySelect id="divs_{{i}}" [(ngModel)]="setproductcatid[i]" formControlName="productcategories" required>
                    <mat-option>Select product new category list</mat-option>
                    <mat-option>
                      <button mat-button   (click)="addnewcategory(i)" class="cstm-mat-button">add product
                        category</button>
                    </mat-option>
                   
                    <mat-option  *ngFor="let procatname of catName" [value]="procatname.productCatId">
                      {{procatname.catName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              
                <div id="{{i}}"></div>
                <button style="display:none;" id="divshow_{{i}}" type="button" (click)="addproductcategories(i)"
                  class="submit_btn">submit</button>
                   <button style="display:none;" id="candivshow_{{i}}" type="button" (click)="Cancelproductcategories(i)"
                  class="submit_btn">Cancel</button>
                  
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Cost price</mat-label>

                  <input autocomplete="off"  matInput formControlName="costprice" pattern="^(?=.*[1-9])(?:[1-9]\d*\.?|0?\.)\d*$"
                    (keyup)="netamount(i)" id="costprice{{i}}" required>
                  <mat-error *ngIf="itemrow.get('costprice').hasError('required')">
                    Please enter cost price!
                  </mat-error>
                  <mat-error *ngIf="itemrow.get('costprice').hasError('pattern')">
                    Please enter valid cost price !
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label> Markup</mat-label>

                  <input autocomplete="off" matInput formControlName="Markup" pattern="^(?=.*[1-9])(?:[1-9]\d*\.?|0?\.)\d*$" required
                    (keyup)="netamount(i)" id="markup{{i}}">
                  <mat-error *ngIf="itemrow.get('Markup').hasError('required')">
                    Please enter Markup!
                  </mat-error>
                  <mat-error *ngIf="itemrow.get('Markup').hasError('pattern')">
                    Please enter valid Markup!
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Selling price</mat-label>
                  <input autocomplete="off" matInput id="selling{{i}}" formControlName="sellingprice" readonly>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Date</mat-label>
                  <input autocomplete="off" required matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date"
                    class="datepicker-add" (click)="picker.open()" >
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker disabled="false"></mat-datepicker>
                  <mat-error *ngIf="itemrow.get('date').hasError('required')">
                    Please enter date!
                  </mat-error>
                </mat-form-field>
              </td>
              <!-- <td>
                    <ngx-qrcode [qrc-element-type]="url" [qrc-value] = "value" >
                      </ngx-qrcode>
                </td> -->
              <!-- <td>
                <mat-form-field appearance="outline">
                  <mat-label>Till type</mat-label>
                  <mat-select matNativeControl  formControlName="tilltype" required>
                    <mat-optgroup label="primary">
                      <mat-option  *ngFor="let typename of Primary" [value]="typename._id +','+'Primary'"> {{typename.name}}
                    </mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Secondary">
                      <mat-option  *ngFor="let typename of Secondary" [value]="typename._id+ ','+ 'Secondary'">{{typename.name}}</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Tertiary">
                      <mat-option *ngFor="let typename of Tertiary" [value]="typename._id + ',' + 'Tertiary'" >{{typename.name}} ({{typename.parentname}})</mat-option>  
                    </mat-optgroup>
                  </mat-select>
                  <mat-error *ngIf="itemrow.get('tilltype').hasError('required')">
                    Please select till type!
                  </mat-error>
                </mat-form-field>
              </td> -->
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Stock level</mat-label>

                  <input autocomplete="off" matInput formControlName="stocklevel" required>
                  <mat-error *ngIf="itemrow.get('stocklevel').hasError('required')">
                    Please enter stock level!
                  </mat-error>
                  <mat-error *ngIf="itemrow.get('stocklevel').hasError('pattern')">
                    Please enter valid stock level!
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Reorder level</mat-label>

                  <input matInput  autocomplete="off" formControlName="reorderlevel" required>
                  <mat-error *ngIf="itemrow.get('reorderlevel').hasError('required')">
                    Please enter reorder level!
                  </mat-error>
                  <mat-error *ngIf="itemrow.get('reorderlevel').hasError('pattern')">
                    Please enter valid reorder level!
                  </mat-error>
                </mat-form-field>
              </td>
              
              <td>
                 <button *ngIf="i !=0" (click)="deleteRow(i ,urls)" class="btn btn-danger delete-btn-add">Delete</button>
              </td>
            </tr>
          </table>
        </div>
        <div class="button-row" style="text-align: center;">
          <button (click)="toggleColours(parent)" [disabled]="productForm.invalid" mat-raised-button="" color=""
            style="margin-top: 10px;">Submit
          </button>
        </div>
      </form>
    </div>
    <div class="add-row-btn">
      <button type="button" (click)="addNewRow()" class="btn btn-primary">Add new product</button><br>
    </div>
  </div>
  <!-- / CONTENT -->

</div>