<style>
    .color-picker {
        left: inherit !important;
        right: 0px !important;
        top: 0px !important;
    }
</style>
<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <div class="header accent p-24 h-60" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <div class="logo mb-18 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                account_circle
            </mat-icon>
            <span class="logo-text h1 p-8" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                My Profile
            </span>
        </div>
        <button mat-raised-button matTooltip="Resellers" [routerLink]="['/dashboard']">Back</button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <!-- THIS IS LOCALSTORAGE OF ADMIN -->
        <div *ngIf="readLocalStorageValue('userType') == 'admin'">

            <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

                <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                    fxFlex="1 0 auto" name="form" [formGroup]="form" (ngSubmit)="updatemyprofile()">

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" pattern="^([^\s])([\sa-zA-Z0-9_\-]*)([^\s])$"
                                required>
                            <mat-error *ngIf="form.get('name').hasError('required')">
                                Please enter name!
                            </mat-error>
                            <mat-error *ngIf="form.get('name').hasError('pattern')">
                                Please enter valid name!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" autocomplete="off" required>
                            <mat-error *ngIf="form.get('email').hasError('required')">
                                Please enter email!
                            </mat-error>
                            <mat-error *ngIf="form.get('email').hasError('email')">
                                Please enter valid email!
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="address" autocomplete="off" pattern="(?!^ +$)^.+$"
                                required>
                            <mat-error *ngIf="form.get('address').hasError('required')">
                                Please enter address!
                            </mat-error>
                            <mat-error *ngIf="form.get('address').hasError('pattern')">
                                Please enter valid address!
                            </mat-error>
                        </mat-form-field>


                        <div id="one" checked class="customslidediv" fxLayout="row" fxLayoutAlign="start center"
                            fxFlex="1 0 auto">
                            <a mat-button color="warn" class="add-file-button" (click)="fileInput1.click()"
                                aria-label="Add file" [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                                Upload logo
                            </a>
                            <input id="cin" hidden name="cin" #fileInput1 type="file"
                                accept=".jpg,.jpeg,.png,.raw,.tiff" (change)="fileChangeEvent($event,i)" />
                            <div class="remember-me" class="img-wrap">
                                <img *ngIf="!urls[i]" [src]="image" style="width: 100px;height: 100px;padding: 5px;">
                            </div>
                            <div class="remember-me" class="img-wrap">
                                <img *ngIf="urls[i]" [src]="urls[i]" style="width: 100px;height: 100px;padding: 5px;">
                            </div>
                        </div>

                    </div>

                    <div class="button-row" style="text-align: center;">
                        <button mat-raised-button="" color="" style="margin-top: 10px;"
                            [disabled]="form.invalid">Submit</button>
                    </div>

                </form>
            </div>

        </div>


        <!-- THIS IS LOCALSTORAGE OF MERCHANT -->

        <div *ngIf="readLocalStorageValue('userType') == 'Merchant'">


            <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

                <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                    fxFlex="1 0 auto" name="form" [formGroup]="form" (ngSubmit)="updatemyprofile()">

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <div id="one" checked class="customslidediv" fxLayout="row" fxLayoutAlign="start center"
                            fxFlex="1 0 auto">
                            <a mat-button color="warn" class="add-file-button" (click)="fileInput1.click()"
                                aria-label="Add file" [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                                Upload logo
                            </a>
                            <input id="cin" hidden name="cin" #fileInput1 type="file"
                                accept=".jpg,.jpeg,.png,.raw,.tiff" (change)="fileChangeEvent($event,i)" />
                            <div class="remember-me" class="img-wrap" *ngIf="image">
                                <img *ngIf="!urls[i];" [src]="image" style="width: 100px;height: 100px;padding: 5px;">
                            </div>
                            <div class="remember-me" class="img-wrap">
                                <img *ngIf="urls[i]" [src]="urls[i]" style="width: 100px;height: 100px;padding: 5px;">
                            </div>
                        </div>

                        <div id="one" checked class="customslidediv" fxLayout="row" fxLayoutAlign="start center"
                            fxFlex="1 0 auto">
                            <a mat-button color="warn" class="add-file-button" (click)="fileInput.click()"
                                aria-label="Add file" [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                                Background image
                            </a>
                            <input id="cin" hidden name="cin" #fileInput type="file" accept=".jpg,.jpeg,.png,.raw,.tiff"
                                (change)="fileChangeEvent1($event,i)" />
                            <div class="remember-me" class="img-wrap" *ngIf="backgroundimage">
                                <img *ngIf="!urls1[i];" [src]="backgroundimage"
                                    style="width: 100px;height: 100px;padding: 5px;">
                            </div>
                            <div class="remember-me" class="img-wrap">
                                <img *ngIf="urls1[i]" [src]="urls1[i]" style="width: 100px;height: 100px;padding: 5px;">
                            </div>
                        </div>

                    </div>


                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" autocomplete="off" autofocus="true"
                                pattern="^([^\s])([\sa-zA-Z0-9_\-]*)([^\s])$" #username required>
                            <mat-error *ngIf="form.get('name').hasError('required')">
                                Please enter name!
                            </mat-error>
                            <mat-error *ngIf="form.get('name').hasError('pattern')">
                                Please enter valid name!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Business name </mat-label>
                            <input matInput formControlName="businessname" autocomplete="off"
                                pattern="^([^\s])([\sa-zA-Z0-9_\-]*)([^\s])$" required>
                            <mat-error *ngIf="form.get('businessname').hasError('required')">
                                Please enter business name!
                            </mat-error>
                            <mat-error *ngIf="form.get('businessname').hasError('pattern')">
                                Please enter valid business name!
                            </mat-error>


                        </mat-form-field>


                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="address" autocomplete="off" pattern="(?!^ +$)^.+$"
                                required>
                            <mat-error *ngIf="form.get('address').hasError('required')">
                                Please enter address!
                            </mat-error>
                            <mat-error *ngIf="form.get('address').hasError('pattern')">
                                Please enter valid address!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" autocomplete="off" required>
                            <mat-error *ngIf="form.get('email').hasError('required')">
                                Please enter email!
                            </mat-error>
                            <mat-error *ngIf="form.get('email').hasError('email')">
                                Please enter valid email!
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4 color-pick-date">
                            <mat-label>Select background color</mat-label>
                            <input matInput id="backgroundthemecolor" formControlName="backgroundtheme"
                                [(colorPicker)]="color2" [cpPosition]='left' [value]="color2" readonly="true">
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50" class="pr-1">
                            <mat-label>Select font color</mat-label>
                            <input [cpPosition]="'bottom'" [cpPositionOffset]="'30%'" 
                                matInput id="fontcolor" formControlName="fontcolor" [(colorPicker)]="color1"
                                [cpPosition]='left' [value]="color1" readonly="true">

                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Secret question</mat-label>
                            <input matInput formControlName="Secretquestion" autocomplete="off" required>
                            <mat-error>
                                Please enter valid secret question!
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Secret answer</mat-label>
                            <input matInput formControlName="Secretanswer" autocomplete="off" required>
                            <mat-error>
                                Please enter valid secret answer!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                            <mat-label>Merchant Category list</mat-label>
                            <mat-select formControlName="merchantcatname" required>
                                <mat-option>Select Merchant Category list</mat-option>
                                <mat-option *ngFor="let merchant of merchantcategories" [value]="merchant._id">
                                    {{merchant.merchantcatname}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Please select Merchant Category list!</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                            <mat-label>Country list</mat-label>
                            <mat-select formControlName="countries" required
                                (selectionChange)="selectcountries($event.value)">
                                <mat-option>Select country list</mat-option>
                                <mat-option *ngFor="let countrie of allcountries" [value]="countrie.countrieId">
                                    {{countrie.countrieName}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('countries').hasError('required')">
                                Please select country list!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                            <mat-label>State list</mat-label>
                            <mat-select formControlName="states" required (selectionChange)="selectstate($event.value)">
                                <mat-option value="Selectstatelist">Select state list</mat-option>
                                <mat-option *ngFor="let state of allstates" [value]="state.stateId">
                                    {{state.stateName}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('states').hasError('required')">
                                Please select state list!
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                            <mat-label>City list</mat-label>

                            <mat-select formControlName="city" required>
                                <mat-option>Select city list</mat-option>
                                <mat-option *ngFor="let city of citys" [value]="city.cityId">
                                    {{city.cityName}}
                                </mat-option>
                            </mat-select>
                            <!-- <mat-error *ngIf="form.get('city').hasError('required')">
                                Please select city list!
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="button-row" style="text-align: center;">
                        <button mat-raised-button="" color="" style="margin-top: 10px;"
                            [disabled]="form.invalid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- / CONTENT -->
    </div>
</div>