:host {


  #map {
      height: 300px;
      border: 1px solid #000;
    }
    #current {
      padding-top: 25px;
  }
  .content {

      form {
          width: 100%;
          
      }

      .form-errors-model {
          flex: 1;

          code {
              background: none !important;
          }
      }

      .horizontal-stepper-wrapper,
      .vertical-stepper-wrapper {
          max-width: 800px;
      }
  }
}

.mat-form-field-infix .color-picker{left: inherit !important;right: 0px !important; top:0px !important;}