/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .p-24 {
      flex: 1 1 auto;
      min-width: 0;
  }
  .cstm-th{font-size: 14px;font-weight:700;}
  .mat-paginator-page-size-label{width:auto;}
  table.cstm-resellers-table thead tr th{padding-left: 5px;padding-right: 5px;}
  table.cstm-resellers-table thead tr th:first-child{padding-left: 24px;}
  table.cstm-resellers-table thead tr th:last-child{padding-right: 24px;}
  th:first-child.cstm-th {
    padding-right: 5px;
    padding-left: 24px;
  }
  
.no-data-av{text-align: center;padding: 15px 0;width: 100%;margin: 0 auto;vertical-align: middle;}
.no-re-found{text-align: center;padding: 15px 0;width: 100%;margin: 0 auto;vertical-align: middle;}

  th.cstm-th {
    padding-right: 5px;
    padding-left: 5px;
  }
  th:last-child.cstm-th {
    padding-right: 5px;
    padding-left: 5px;
    min-width: 80px;
  }
  .cstm-resellers-table tr td{padding-right: 5px;padding-left: 5px;}
  .cstm-resellers-table tr td:first-child{padding-right: 5px;padding-left: 24px;}
  .cstm-resellers-table tr td:last-child{padding-right: 5px;padding-left: 5px;min-width: 80px;}
  .mat-elevation-z8.cstm-main-bg{background-color: #fff;}
  .mat-elevation-z8.cstm-main-bg .header-content{text-align:right;font-weight:bold;padding: 11px;padding-top: 30px;padding-bottom: 0px;}
  mat-expansion-panel.cstm-expansion-panel-head.mat-expansion-panel{margin-bottom: 30px !important;}
  //.mat-elevation-z8.cstm-main-bg .mat-raised-button{position: relative;top: 0px;right: 0px;margin-right: 0px;}
  .cstm-expansion-panel-head .mat-expansion-panel-header{position: relative;}
  mat-expansion-panel.cstm-expansion-panel-head.mat-expansion-panel.ng-tns-c31-3.mat-expanded.mat-expansion-panel-spacing{margin-bottom: 30px;}
  mat-expansion-panel.cstm-expansion-panel-head.mat-expansion-panel.ng-tns-c31-5.mat-expanded.mat-expansion-panel-spacing{margin-bottom: 30px;}
 //.cstm-expansion-panel-head .mat-expansion-panel-header{height: auto !important; min-height: 48px;overflow: visible;}
  a {
    color: #0254EB
  }
  a:visited {
    color: #0254EB
  }
  a.morelink {
    text-decoration:none;
    outline: none;
  }
  .morecontent span {
    display: none;
  }
  .comment {
    width: 500px;
    //background-color: #f0f0f0;
    margin: 10px;
    
    height: 40px;
    
    word-break: break-all;
    overflow-x: scroll;
  }
  .mat-elevation-z8.cstm-main-bg .mat-raised-button {
    position: absolute;
    top: 6px;
    right: 150px;
}
.cstm-expansion-panel-head.mat-expansion-panel .mat-expansion-panel-header{align-items:flex-start;overflow: overlay;}
.cstm-expansion-panel-head.mat-expansion-panel .mat-expansion-panel-header .mat-expansion-panel-header-title{align-items:flex-start !important;}
mat-expansion-panel.cstm-expansion-panel-head.mat-expansion-panel{padding: 10px 10px;}
.mat-paginator-page-size-select{width:56px;}

@media(max-width: 450px) {
  .h-60 {
    height: 100px !important;
    min-height: 100px !important;
    max-height: 100px !important;
}

.faqheader .logo{position: absolute;top:0px;}

.cstm-faq-header-btn{top: 20px;margin-right: -10px;}
}